.background-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.background-icons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 6vh;
}

.background-lines-image {
  filter: invert(30%) sepia(9%) saturate(178%) hue-rotate(2deg) brightness(94%) contrast(87%);
  width: 25%;
}

.confetti-image,
.baloon-image,
.note-image {
  height: 20vh;
  margin-left: auto;
  filter: invert(50%) sepia(77%) saturate(516%) hue-rotate(313deg) brightness(115%) contrast(111%);
}

.confetti-image {
  margin-right: 10vw;
  margin-top: -7vh;
  transform: translate(-5vw, -15vh) rotate(-6deg);
}

.baloon-image {
  margin-right: 10vw;
  margin-top: 5vh;
  transform: translate(-0vw, -10vh) rotate(-28deg);
}

.note-image {
  margin-right: 10vw;
  margin-top: 4vh;
  transform: translate(-13vw, -5vh) rotate(23deg);
} 

.background-button--filled, .background-button--outlined {
  font-family: Futura;
  font-weight: 600;
  font-size: 1.2em;

  border: solid;
  border-width: 4px;
  border-radius: 1000px;

  padding: 1.7vh 7.4vw;
} 

.background-button--outlined {
  color: #FF7777;
  background-color: rgba(0, 0, 0, 0);
}

.background-button--filled {
  color: #FFF7E7;
  border-color: #FF7777;
  background-color: #FF7777;
}

